// COLORS
$purple: #B648F6;
$blue: #00C5CE ;
$white: #F8F8F8;
$black: #161925;

// gradient
// $coolGrad: linear-gradient(
//   269deg,
//   #ff9e01 0%,
//   #fd910b 0%,
//   #e30870 100%,
//   #804f01 100%
// );
